@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --thumb-color: #fb2e86;
  --track-color: #f7f7f7;
  --scrollbar-width: 6px;
  --scrollbar-border-radius: 5px;
  --scrollbar-thumb-border-width: 0px;
  --scrollbar-thumb-border-color: #a6a6a6;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
}

.nav a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  transition: color 0.3s;
}

.nav a:hover {
  color: #61dafb;
}

.logo {
  height: 3em;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 2em;
  transition: box-shadow 0.3s;

}

@media (min-width: 640px) {
  .card {
    width: 40rem; /* sm */
    height: 35rem;
  }
}

@media (min-width: 768px) {
  .card {
    width:  40rem; /* md */
    height: 35rem; /* גובה קבוע למסכים בינוניים ומעלה */
  }
}

@media (min-width: 1024px) {
  .card {
    width:  40rem; /* lg */
    height:35rem; 
  }
}


.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.carousel-item img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: transform 0.3s;
}

.carousel-item img:hover {
  transform: scale(1.05);
}




.start-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.start-button:active {
  transform: scale(1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.read-the-docs {
  color: #888;
  margin-top: 1rem;
}

body {
  font-family: "Lato", sans-serif;
}

.fnt {
  font-family: "Josefin Sans", sans-serif;
}

.scrollrec::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.scrollrec::-webkit-scrollbar-track {
  background: var(--track-color);
  border-radius: var(--scrollbar-border-radius);
}

.scrollrec::-webkit-scrollbar-thumb {
  background: var(--thumb-color);
  border-radius: var(--scrollbar-border-radius);
  border: var(--scrollbar-thumb-border-width) solid var(--scrollbar-thumb-border-color);
}

@supports not selector(::-webkit-scrollbar) {
  .scrollrec {
    scrollbar-color: var(--thumb-color) var(--track-color);
  }
}
